<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdxj.mapper.AdMapper">
		<resultMap id="BaseResultMap" type="com.zdxj.model.AdEntity">
		   <id column="id" jdbcType="INTEGER" property="id" />
		   <result column="is_deleted" jdbcType="BIT" property="deleted" />
		   <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		   <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		   <result column="title" jdbcType="VARCHAR" property="title" />
		   <result column="path" jdbcType="VARCHAR" property="path" />
		   <result column="ad_position" jdbcType="VARCHAR" property="adPosition" />
		   <result column="position" jdbcType="INTEGER" property="position" />
	  </resultMap>
	
	  <insert id="saveEntity" parameterType="com.zdxj.model.AdEntity" useGeneratedKeys="true" keyProperty="id">
	    insert into ad
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">id,</if>
	      <if test="deleted != null">is_deleted,</if>
	      <if test="createTime != null">create_time,</if>
	      <if test="updateTime != null">update_time,</if>
	      <if test="title != null">title,</if>
	      <if test="path != null">path,</if>
	      <if test="adPosition != null">ad_position,</if>
	      <if test="position != null">position,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">#{id},</if>
	      <if test="deleted != null">#{deleted},</if>
	      <if test="createTime != null">#{createTime},</if>
	      <if test="updateTime != null">#{updateTime},</if>
	      <if test="title != null">#{title},</if>
	      <if test="path != null">#{path},</if>
	      <if test="adPosition != null">#{adPosition},</if>
	      <if test="position != null">#{position},</if>
	    </trim>
	  </insert>
	
	  <update id="updateEntity" parameterType="com.zdxj.model.AdEntity" >
	    update ad
	    <set >
	      <if test="deleted != null">is_deleted = #{deleted},</if>
	      <if test="createTime != null">create_time = #{createTime},</if>
	      <if test="updateTime != null">update_time = #{updateTime},</if>
	      <if test="title != null">title = #{title},</if>
	      <if test="path != null">path = #{path},</if>
	      <if test="adPosition != null">ad_position = #{adPosition},</if>
	      <if test="position != null">position = #{position},</if>
	    </set>
	    where id = #{id}
	  </update>
	
	    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	      select * from  ad where id = #{id}
		</select>
	
	    <select id="listByCondition" resultMap="BaseResultMap" parameterType="java.util.HashMap">
	        select * from ad
	        <where>
	            <include refid="query_where"></include>
	        </where>
	        <if test="orderbys != null">
	            order by
	            <foreach collection="orderbys.keys" item="k" index="index" separator=",">
	                ${k} ${orderbys[k]}
	            </foreach>
	        </if>
	        <if test="pageSize != null">
	            limit #{startIndex}, #{pageSize}
	        </if>
	    </select>
	
	    <select id="listIds" resultType="java.lang.Integer" parameterType="java.util.HashMap">
	        select id from ad
	        <where>
	            <include refid="query_where"></include>
	        </where>
	        <if test="orderbys != null">
	            order by
	            <foreach collection="orderbys.keys" item="k" index="index" separator=",">
	                ${k} ${orderbys[k]}
	            </foreach>
	        </if>
	        <if test="pageSize != null">
	            limit #{startIndex}, #{pageSize}
	        </if>
	    </select>
	
	    <select id="countByCondition" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	        select count(*) from ad
	        <where>
	            <include refid="query_where"></include>
	        </where>
	    </select>
	
	   <delete id="deleteByIds" parameterType="java.util.ArrayList">
	       delete from ad
	       where id in
	       <foreach collection="list" index="index" item="itemId" open="(" separator="," close=")">
	           #{itemId}
	       </foreach>
	   </delete>
	
	    <sql id="query_where">
	        <if test="id  !=  null">and id = #{id}</if>
	        <if test="deleted  !=  null">and is_deleted = #{deleted}</if>
	        <if test="createTime  !=  null">and create_time = #{createTime}</if>
	        <if test="updateTime  !=  null">and update_time = #{updateTime}</if>
	        <if test="title  !=  null">and title = #{title}</if>
	        <if test="path  !=  null">and path = #{path}</if>
	        <if test="adPosition  !=  null">and ad_position = #{adPosition}</if>
	        <if test="position  !=  null">and position = #{position}</if>
	        <if test="titleLike != null">and title like CONCAT('%',#{titleLike},'%') ESCAPE '/'</if>
	        <if test="adPositionLike != null">and ad_position like CONCAT('%',#{adPositionLike},'%') ESCAPE '/'</if>
	    </sql>
	
</mapper>