<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdxj.mapper.MemberLevelMapper">
		<resultMap id="BaseResultMap" type="com.zdxj.model.MemberLevelEntity">
		   <id column="id" jdbcType="INTEGER" property="id" />
		   <result column="is_deleted" jdbcType="BIT" property="deleted" />
		   <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		   <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		   <result column="name" jdbcType="VARCHAR" property="name" />
		   <result column="icon" jdbcType="VARCHAR" property="icon" />
		   <result column="points_start" jdbcType="INTEGER" property="pointsStart" />
		   <result column="points_end" jdbcType="INTEGER" property="pointsEnd" />
		   <result column="position" jdbcType="INTEGER" property="position" />
	  </resultMap>
	
	  <insert id="saveEntity" parameterType="com.zdxj.model.MemberLevelEntity" useGeneratedKeys="true" keyProperty="id">
	    insert into member_level
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">id,</if>
	      <if test="deleted != null">is_deleted,</if>
	      <if test="createTime != null">create_time,</if>
	      <if test="updateTime != null">update_time,</if>
	      <if test="name != null">name,</if>
	      <if test="icon != null">icon,</if>
	      <if test="pointsStart != null">points_start,</if>
	      <if test="pointsEnd != null">points_end,</if>
	      <if test="position != null">position,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">#{id},</if>
	      <if test="deleted != null">#{deleted},</if>
	      <if test="createTime != null">#{createTime},</if>
	      <if test="updateTime != null">#{updateTime},</if>
	      <if test="name != null">#{name},</if>
	      <if test="icon != null">#{icon},</if>
	      <if test="pointsStart != null">#{pointsStart},</if>
	      <if test="pointsEnd != null">#{pointsEnd},</if>
	      <if test="position != null">#{position},</if>
	    </trim>
	  </insert>
	
	  <update id="updateEntity" parameterType="com.zdxj.model.MemberLevelEntity" >
	    update member_level
	    <set >
	      <if test="deleted != null">is_deleted = #{deleted},</if>
	      <if test="createTime != null">create_time = #{createTime},</if>
	      <if test="updateTime != null">update_time = #{updateTime},</if>
	      <if test="name != null">name = #{name},</if>
	      <if test="icon != null">icon = #{icon},</if>
	      <if test="pointsStart != null">points_start = #{pointsStart},</if>
	      <if test="pointsEnd != null">points_end = #{pointsEnd},</if>
	      <if test="position != null">position = #{position},</if>
	    </set>
	    where id = #{id}
	  </update>
	
	    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	      select * from  member_level where id = #{id}
		</select>
	
	    <select id="listByCondition" resultMap="BaseResultMap" parameterType="java.util.HashMap">
	        select * from member_level
	        <where>
	            <include refid="query_where"></include>
	        </where>
	        <if test="orderbys != null">
	            order by
	            <foreach collection="orderbys.keys" item="k" index="index" separator=",">
	                ${k} ${orderbys[k]}
	            </foreach>
	        </if>
	        <if test="pageSize != null">
	            limit #{startIndex}, #{pageSize}
	        </if>
	    </select>
	
	    <select id="listIds" resultType="java.lang.Integer" parameterType="java.util.HashMap">
	        select id from member_level
	        <where>
	            <include refid="query_where"></include>
	        </where>
	        <if test="orderbys != null">
	            order by
	            <foreach collection="orderbys.keys" item="k" index="index" separator=",">
	                ${k} ${orderbys[k]}
	            </foreach>
	        </if>
	        <if test="pageSize != null">
	            limit #{startIndex}, #{pageSize}
	        </if>
	    </select>
	
	    <select id="countByCondition" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	        select count(*) from member_level
	        <where>
	            <include refid="query_where"></include>
	        </where>
	    </select>
	
	   <delete id="deleteByIds" parameterType="java.util.ArrayList">
	       delete from member_level
	       where id in
	       <foreach collection="list" index="index" item="itemId" open="(" separator="," close=")">
	           #{itemId}
	       </foreach>
	   </delete>
	
	    <sql id="query_where">
	        <if test="id  !=  null">and id = #{id}</if>
	        <if test="deleted  !=  null">and is_deleted = #{deleted}</if>
	        <if test="createTime  !=  null">and create_time = #{createTime}</if>
	        <if test="updateTime  !=  null">and update_time = #{updateTime}</if>
	        <if test="name  !=  null">and name = #{name}</if>
	        <if test="icon  !=  null">and icon = #{icon}</if>
	        <if test="pointsStart  !=  null">and points_start = #{pointsStart}</if>
	        <if test="pointsEnd  !=  null">and points_end = #{pointsEnd}</if>
	        <if test="position  !=  null">and position = #{position}</if>
	        <if test="nameLike != null">and name like CONCAT('%',#{nameLike},'%') ESCAPE '/'</if>
	    </sql>
	
</mapper>