<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdxj.mapper.ManagerLogMapper">
	
	<resultMap id="BaseResultMap" type="com.zdxj.model.ManagerLogEntity">
	   <id column="id" jdbcType="INTEGER" property="id" />
	   <result column="is_deleted" jdbcType="BIT" property="deleted" />
	   <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	   <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	   <result column="login_name" jdbcType="VARCHAR" property="loginName" />
	   <result column="action_name" jdbcType="VARCHAR" property="actionName" />
	   <result column="description" jdbcType="VARCHAR" property="description" />
	   <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
  	</resultMap>
	  
	  <insert id="saveEntity" parameterType="com.zdxj.model.ManagerLogEntity" useGeneratedKeys="true" keyProperty="id">
	    insert into manager_log
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">id,</if>
	      <if test="deleted != null">is_deleted,</if>
	      <if test="createTime != null">create_time,</if>
	      <if test="updateTime != null">update_time,</if>
	      <if test="loginName != null">login_name,</if>
	      <if test="actionName != null">action_name,</if>
	      <if test="description != null">description,</if>
	      <if test="loginIp != null">login_ip,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">#{id},</if>
	      <if test="deleted != null">#{deleted},</if>
	      <if test="createTime != null">#{createTime},</if>
	      <if test="updateTime != null">#{updateTime},</if>
	      <if test="loginName != null">#{loginName},</if>
	      <if test="actionName != null">#{actionName},</if>
	      <if test="description != null">#{description},</if>
	      <if test="loginIp != null">#{loginIp},</if>
	    </trim>
	  </insert>
	
	  <update id="updateEntity" parameterType="com.zdxj.model.ManagerLogEntity" >
	    update manager_log
	    <set >
	      <if test="deleted != null">is_deleted = #{deleted},</if>
	      <if test="createTime != null">create_time = #{createTime},</if>
	      <if test="updateTime != null">update_time = #{updateTime},</if>
	      <if test="loginName != null">login_name = #{loginName},</if>
	      <if test="actionName != null">action_name = #{actionName},</if>
	      <if test="description != null">description = #{description},</if>
	      <if test="loginIp != null">login_ip = #{loginIp},</if>
	    </set>
	    where id = #{id}
	  </update>
	
	    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	      select * from  manager_log where id = #{id}
		</select>
	
	    <select id="listByCondition" resultMap="BaseResultMap" parameterType="java.util.HashMap">
	        select * from manager_log
	        <where>
	            <include refid="query_where"></include>
	        </where>
	        <if test="orderbys != null">
	            order by
	            <foreach collection="orderbys.keys" item="k" index="index" separator=",">
	                ${k} ${orderbys[k]}
	            </foreach>
	        </if>
	        <if test="pageSize != null">
	            limit #{startIndex}, #{pageSize}
	        </if>
	    </select>
	
	    <select id="listIds" resultType="java.lang.Integer" parameterType="java.util.HashMap">
	        select id from manager_log
	        <where>
	            <include refid="query_where"></include>
	        </where>
	        <if test="orderbys != null">
	            order by
	            <foreach collection="orderbys.keys" item="k" index="index" separator=",">
	                ${k} ${orderbys[k]}
	            </foreach>
	        </if>
	        <if test="pageSize != null">
	            limit #{startIndex}, #{pageSize}
	        </if>
	    </select>
	
	    <select id="countByCondition" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	        select count(*) from manager_log
	        <where>
	            <include refid="query_where"></include>
	        </where>
	    </select>
	
	   <delete id="deleteByIds" parameterType="java.util.ArrayList">
	       delete from manager_log
	       where id in
	       <foreach collection="list" index="index" item="itemId" open="(" separator="," close=")">
	           #{itemId}
	       </foreach>
	   </delete>
	
	    <sql id="query_where">
	        <if test="id  !=  null">and id = #{id}</if>
	        <if test="deleted  !=  null">and is_deleted = #{deleted}</if>
	        <if test="createTime  !=  null">and create_time = #{createTime}</if>
	        <if test="updateTime  !=  null">and update_time = #{updateTime}</if>
	        <if test="loginName  !=  null">and login_name = #{loginName}</if>
	        <if test="actionName  !=  null">and action_name = #{actionName}</if>
	        <if test="description  !=  null">and description = #{description}</if>
	        <if test="loginIp  !=  null">and login_ip = #{loginIp}</if>
	        <if test="loginNameLike != null">and login_name like CONCAT('%',#{loginNameLike},'%') ESCAPE '/'</if>
	    </sql>
	
</mapper>